<div class="mt-8 min-h-[60vh]" id="button-section">
  <h3 class="font-semibold text-2xl"> Button Section </h3>
  <p class="text-lg"> Your custom button UI elements </p>
  
  <div class="flex mt-8 rounded-t border border-gray-900">
    <%= link_to ui_library_path(ui_library, tab: :preview), class: "p-2 #{"bg-gray-300" if params[:tab].in?([nil, "preview"])}" do %>
      <span> Preview </span>
    <% end %>
    <%= link_to ui_library_path(ui_library, tab: :html), class: "p-2 #{"bg-gray-300" if params[:tab] == "html" }" do %>
      <span> HTML </span>
    <% end %>
  </div>
  <div class="max-h-80 w-full border border-gray-900 border-t-0 rounded-b bg-gray-200 p-4">
    <% if params[:tab].nil? || params[:tab] == "preview" %>
      <div class="flex gap-8">
        <%= render Buttons::PrimaryComponent.new(ui_library) %>
      </div>
    <% end %>

    <% if params[:tab] == "html" %>
      <textarea readonly class="w-full focus:border-0 focus:ring-0 focus:outline-none">
<%= render Buttons::PrimaryComponent.new(ui_library) %></textarea>
    <% end %>
  </div>
</div>