<div class="max-w-5xl mx-auto w-full flex-shrink-0" id="preview-element">
  <div class="w-full h-64 flex justify-center items-center <%= button_roundedness_for_preference(ui_library.edge_style_preference) %> <%= background_color_preference(ui_library.background_color_preference, ui_library.background_color_level) %>"> 
    <span class="text-3xl font-semibold <%= text_color_preference(ui_library.text_color_preference, ui_library.text_color_level) %>"> 
      <%= ui_library.name %> UI
    </span>
  </div>
</div>